#service__list--details {
    width: 50%;
    margin: auto;
}

.btn__service--details {
    width: 10rem;
}

.services__list {
    margin: auto;
}

/* service create form */
.mc__service--create {
    margin: auto;
    width: 40rem;
}

.mc__service--update {
    margin: auto;
    width: 40rem;
}

.mc__service--details {
    margin: auto;
    width: 50rem;
}

.service__list--btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}