.btn__appt-list {
    width: 100%;
}

#btn__media {
    margin-left: auto;
}



.paragraph {
    /* width: 300px; */
    height: 100px;
    word-wrap: break-word;
    margin: 5px;
    padding-left: 3%;
}