#navbar__space,
.customer__list {
    margin-top: 2rem;
}

.btn__customers {
    width: 5rem;
}

.btn__customer--div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn__customer--details {
    width: 10rem;
}

.mc__customer--details {
    width: 32rem;
}

.mc__customer--update {
    margin: auto;
    width: 40rem;
}

.mc__customer--list {
    width: 25rem;
}

.btn__customer-details {
    width: 7rem;
}

.btn__customer--update__1 {
    width: 12rem;
}