.customer__list {
    margin-top: 5rem;
}

.btn__customers {
    width: 5rem;
}

.btn__customer--div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn__customer--details {
    width: 10rem;
}