.mc__employee--images {
    width: 10rem;
    height: 10rem;
}

.mc__employee {
    margin: auto;
}

.employee__list {
    width: 30rem;
    margin: auto;
}

.employee__update {
    width: 30rem;
    margin: auto;
}

.mc__employee--details {
    width: 30rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__left {
    display: flex;
    align-items: center;
}

.btn__employee-details {
    width: 5rem;
    margin: auto;
}

.btn__employee--update {
    width: 10rem;
}

.employee__specialty--delete-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mc__employee--update {
    margin: auto;
    margin: 30rem;
}