.mc__employee--images {
    width: 10rem;
    height: 10rem;
}

.mc__employee {
    margin: auto;
}

.employee__list {
    width: 20rem;
}

.mc__employee--details {
    width: 30rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__left {
    display: flex;
    align-items: center;
}

.btn__employee-details {
    width: 5rem;
}