/* .navbar {
    flex-wrap: nowrap;
    justify-content: left;

} */

/* .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    max-height: 3rem;
} */

/* .navbar-item {
    max-height: 3rem;

} */

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* @media screen and (max-width: 1024px) {
    .navbar-menu {
        display: none;
    }
} */